<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <meta name="keywords" content="cabaña cabañas anunciada brangus toros vacas semen embriones argentina cattle produccion productor carnes geneticas razas">
    <meta name="description" content="Envianos tu consulta">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Oswald:wght@400;500&display=swap" rel="stylesheet">
    <link rel="icon" href="../assets/imagenes/logo.ico" alt="logo">       
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/normalize.css">
    <!-- Mi CSS -->
    <link rel="stylesheet" type="text/css" href="../css/estilo.css">
    <title>Contacto</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <header class="col-12 col-md-12 col-lg-12">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="../index.html"><img src="../assets/imagenes/LogoMakr-5TDpwB.png" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link active" href="../index.html">Home <span class="sr-only">(current)</span></a>
                <a class="nav-link active" href="#">Contacto</a>
                <a class="nav-link active" href="productos.html">Productos</a>
                <a class="nav-link active" href="sobre_nosotros.html">Historia</a>
                <a class="nav-link active" href="inicio_sesion.html">Mi Cuenta</a>                  
              </div>
            </div>
          </nav>
        </header>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <main class="col-12 col-md-12 col-lg-12 video" id="video">
          <video loop autoplay muted preload="auto" class="videoA"> 
            <source src="../assets/videos/Limousin_Cows_2__Videvo.mp4" type="video/mp4">
           </video>          
        </main>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="titulo col-12 col-md-12 col-lg-12">
          <h1>Contacto</h1>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <section class="presentacion col-12 col-md-12 col-lg-12">
          <p class="contacto">Nuestro equipo comercial se encuentra disponible para ampliar las inquietudes de clientes que ya operaron con la empresa y de productores nuevos interesados en nuestros productos. No dude en contactarse con nosotros para conocer más sobre nuestro programa de Remates Anuales y Ventas Particulares, como asi también sobre las formas y plazos de pago de reproductores, semen y embriones. Les sugerimos contactarse de la siguiente forma: </p>   
        </section>      
      </div>
    </div>
    <div class="container-fluid">
        <form class="row form" action="#">
          <div class="gridP d-flex col-12 col-md-5 col-lg-6 col-xl-6">
            <div class="inputContacto">
              <input class="inputItem" type="text" name="nombre" placeholder="Nombre">
            </div>
            <div class="inputContacto">
              <input class="inputItem" type="text" name="apellido" placeholder="Apellido">
            </div>
          </div>
          <div class="gridS d-flex col-12 col-md-5 col-lg-6 col-xl-6">   
              <div class="inputContacto">
                <input class="inputItem" type="email" name="email" placeholder="Email">
              </div>
            <div class="consulta">Tipo de consulta:
              <select name="consulta" id="consulta">
                <option value="semen">SEMEN</option>
                <option value="embriones">EMBRIONES</option>
                <option value="otro">OTRO</option>
              </select>
            </div>
          </div>
          <div class="comentarios d-flex col-12 col-md-12 col-lg-12 col-xl-12">
            <textarea class="inputText"  name="comentarios" id="comentarios" placeholder="Escriba su Consulta"></textarea>
            <input class="button" type="submit" value="ENVIAR">
          </div>  
        </form> 
    </div>    
    <div class="container-fluid">
      <footer class="row footer">
      <footer class="row footer">
        <a class="col-4 col-md-4 col-lg-4 log" href="../index.html"><img class="logo" src="../assets/imagenes/LogoMakr-5TDpwB.png" alt="logo"></a> 
        <div class="col-4 col-md-4 col-lg-4 rrhh">
          <a href="#"><img src="https://icongr.am/fontawesome/instagram.svg?size=40&color=0b5606" alt="instagram"></a>  
          <a href="#"><img src="https://icongr.am/fontawesome/facebook-square.svg?size=40&color=0b5606" alt="facebook"></a> 
        </div>
        <a class="col-4 col-md-4 col-lg-4" href="contacto.html" target="_blank"><h3>CONTACTO</h3></a>
      </footer>
    </div>  



    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

  </body>
</html>