<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <meta name="keywords" content="cabaña cabañas anunciada brangus toros vacas semen embriones argentina cattle produccion productor carnes geneticas razas">
    <meta name="description" content="Historia y lugar de origen de nuestra cabaña">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Oswald:wght@400;500&display=swap" rel="stylesheet">
    <link rel="icon" href="../assets/imagenes/logo.ico" alt="logo">       
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">     
    <!-- Mi CSS -->
    <link rel="stylesheet" type="text/css" href="../css/estilo.css">
    <title>Historia</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <header class="col-12 col-md-12 col-lg-12">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="../index.html"><img src="../assets/imagenes/LogoMakr-5TDpwB.png" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link active" href="../index.html">Home <span class="sr-only">(current)</span></a>
                <a class="nav-link active" href="contacto.html">Contacto</a>
                <a class="nav-link active" href="productos.html">Productos</a>
                <a class="nav-link active" href="#">Historia</a>
                <a class="nav-link active" href="inicio_sesion.html">Mi Cuenta</a>                   
              </div>
            </div>
          </nav>
        </header>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <main class="col-12 col-md-12 col-lg-12 video" id="video">
          <video loop autoplay muted preload="auto" class="videoA"> 
            <source src="../assets/videos/Limousin_Cows_2__Videvo.mp4" type="video/mp4">
           </video>          
        </main>
      </div>
    </div>
    <div class="artic">
    <div class="container-fluid derrape">
      <div class="row centerH">
        <div class="tituloH col-12 col-md-5 col-lg-12">
          <h1>Nuestra Historia</h1>
        </div>
        <div class="presentacion col-12 col-md-12 col-lg-12">
          <p>Más de 80 años de selección en los sistemas extensivos y pastoriles de nuestro país nos avalan como pioneros en la construcción y mejoramiento de líneas genéticas propias, en la raza Brangus colorado.

          Nuestros programas de mediciones y pesadas comenzaron a integrarse a principios de los años ’70 en las rutinas de control de desarrollo y en los primeros índices materno-productivos, mejorando significativamente nuestro progreso genético a partir de 1990, con la implementación de las predicciones lineales del Modelo Animal y las soluciones DEP (diferencias esperadas entre progenie) para los rasgos de crecimiento y desarrollo, aptitud materna y eficiencia reproductiva, y las pruebas de progenie para rendimiento y calidad de carne.</p>
        </div>
      </div>
    </div>
    <div class="container-fluid tusi">
      <div class="row centerU">
        <div class="tituloU d-flex col-12 col-md-5 col-lg-12">
          <h2>Ubicacion</h2>
        </div>
        <div class="ubi d-flex col-12 col-md-12 col-lg-12">
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d887348.0539425297!2d-61.025664704110355!3d-29.684883948006412!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb759c87f9b320ad7!2zMjnCsDIyJzIyLjQiUyA2McKwMjgnNDkuNSJX!5e0!3m2!1ses-419!2sar!4v1642901941894!5m2!1ses-419!2sar" height="400px" allowfullscreen="" loading="lazy"></iframe> 
        </div>        
      </div>
    </div>
    </div>
    <div class="container-fluid">
      <footer class="row footer">
        <a class="col-4 col-md-4 col-lg-4 log" href="../index.html"><img class="logo" src="../assets/imagenes/LogoMakr-5TDpwB.png" alt="logo"></a> 
        <div class="col-4 col-md-4 col-lg-4 rrhh">
          <a href="#"><img src="https://icongr.am/fontawesome/instagram.svg?size=40&color=0b5606" alt="instagram"></a>  
          <a href="#"><img src="https://icongr.am/fontawesome/facebook-square.svg?size=40&color=0b5606" alt="facebook"></a> 
        </div>
        <a class="col-4 col-md-4 col-lg-4" href="contacto.html" target="_blank"><h3>CONTACTO</h3></a>
      </footer>
    </div>  

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

  </body>
</html>